/* viewProfile.css */

body {
    background-color: #dde7c0;
}

.container {
    margin-top: 50px;
}

.main-body {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-body {
    text-align: center;
}

img.rounded-circle {
    border: 4px solid #fff;
}

h4 {
    margin-top: 10px;
}

.btn-primary {
    margin-right: 10px;
}

.list-group-item {
    border: none;
    background-color: transparent;
}

.list-group-item svg {
    margin-right: 10px;
}

.text-secondary {
    color: #6c757d;
}

.text-muted {
    color: #adb5bd;
}

.font-size-sm {
    font-size: 0.8rem;
}

/* Your existing styles can remain, or you can add styles for the book list */


table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 15px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
h2{
    text-align: center;
}