body {
    font-family: 'EB Garamond', serif;
    margin: 0;
    padding: 0;
    background-color: #f9f6f2;
    color: #3d3d3d;
  }
  
  .signup-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
  }
  
  .signup-container h1 {
    text-align: center;
    color: #556b2f; /* Olive Green header text color */
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
    color: #556b2f; /* Olive Green label text color */
  }
  
  input {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #8F9779; /* Sage Green button color */
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #556b2f; /* Darker Olive Green on hover */
  }
  
  p {
    text-align: center;
    margin-top: 15px;
  }
  
  a {
    color: #8F9779; /* Sage Green link color */
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Add additional styling as needed */
  