body {
  font-family: 'EB Garamond', serif; 
  margin: 0;
  padding: 0;
  background-color: #f9f6f2; 
  color: #3d3d3d; 
}
.container {
  max-width: 800px;
  margin: auto;
  padding: 10px 0;
}
.nav-container {
  display: flex;
  width: 100%;
  height : 90px;
  justify-content: space-between;
  align-items: center;
  background: #CEDEBD;
  padding: 10px; 
}


.nav-component li {
  margin-right: 20px; /* Adjust the spacing between navigation items */
  list-style-type: none;
}


.nav-container .logo {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  margin-left: 5px;
  height: auto;
}


.browse-component.hear-dropdown {
  margin-right: 100px;
}
.browse-component.hear-dropdown .dropdown-compenent ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: table;
  width: 100%;
}

.browse-component.hear-dropdown .dropdown-compenent li {
  display: table-row;
  list-style-type: none;
}


.browse-component.hear-dropdown details {
  position: relative;
  list-style: none;
}

.browse-component.hear-dropdown details:hover .dropdown-compenent {
  display: block;
}


.browse-component.hear-dropdown .dropdown-compenent {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  display: none;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.browse-component.hear-dropdown .dropdown-compenent a {
  display: block;
  width: 100%;
  padding: 15px; /* Adjust the padding as needed */
  border-bottom: 1px solid #eee; /* Add a border between items */
  text-decoration: none;
  color: #333;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.browse-component.hear-dropdown .dropdown-compenent a:hover {
  background-color: #f5f5f5; /* Add a background color on hover */
}

.browse-component.hear-dropdown details:hover .dropdown-compenent {
  display: block;
}

.search-component {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.search-bar {
  display: flex;
  align-items: center;
}


.search-faucet.selector {
  display: flex;
  align-items: center;
}

.search-bar input,
.search-bar select,
.search-bar button {
  margin: 0 5px;
  padding: 8px;
  border: none;
  border-radius: 5px;
}



.user-options a {
  color: #F3B664;
  text-decoration: none;
}

.divider {
  margin: 0 10px;
  color: #F3B664;
}



.carousel-container {
  position: relative;
  width: 80%;
  max-height: 50vh;
  margin: auto;
  overflow: hidden;
  margin-top: 20px; 
}
.carousel {
  margin: 10px 10%;
  display: flex;
  transition: transform 0.5s ease-in-out;
  max-height: 50vh; 
}

.carousel-item {
  margin: 0 15% 0 0;
  min-width: 100%;
  box-sizing: border-box;
  display: flex; 
}

.cover-image {
  width: auto;
  max-height: 100%; 
}

.book-info {
  flex: 1; 
  padding: 20px; 
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  cursor: pointer;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #b5895c;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #8e735b; 
}

.trending-books,
.about-section,
.footer {
  background-color: #fff; /* White background for sections */
  padding: 40px 0;
  display: flex;
  justify-content: center;
}

.trending-books h2,
.about-section h2 {
  color: #6e5137;
}

.about-section p {
  font-size: 1.1em;
  line-height: 1.6;
}

.footer {
  margin-top: 40px;
}

.footer a {
  margin: 0 15px;
  text-decoration: none;
  color: #6e5137;
}

