/* Reset some default styles for the list */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Style for the header section */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

/* Style for the logo */
.logo img {
    max-height: 50px; /* Adjust the size as needed */
}

/* Style for the navigation menu */
nav ul {
    display: flex;
    align-items: center;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

html, body {
    margin: 0;
    padding: 0;
  }
  
 /* .pic-ctn {
    width: 100vw;
    height: 200px;
  }
  
  @keyframes display {
    0% {
      transform: translateX(200px);
      opacity: 0;
    }
    10% {
      transform: translateX(0);
      opacity: 1;
    }
    20% {
      transform: translateX(0);
      opacity: 1;
    }
    30% {
      transform: translateX(-200px);
      opacity: 0;
    }
    100% {
      transform: translateX(-200px);
      opacity: 0;
    }
  }
  
  .pic-ctn {
    position: relative;
    width: 100vw;
    height: 200px;
    margin-top: 15vh;
  }
  
  .pic-ctn > img {
    position: absolute;
    top: 0;
    left: calc(50% - 100px);
    opacity: 0;
    
    animation: display 10s infinite;
    max-height: 150%;
  }
  
  img:nth-child(2) {
    animation-delay: 2s;
  }
  img:nth-child(3) {
    animation-delay: 4s;
  }
  img:nth-child(4) {
    animation-delay: 6s;
  }
  img:nth-child(5) {
    animation-delay: 8s;
  }
*/
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  
  .carousel-container {
    position: relative;
    width: 80%;
    max-height: 50vh;
    margin: auto;
    overflow: hidden;
    margin-top: 20px; 
  }
  
  .carousel {
    margin: 10px 40px;
    display: flex;
    transition: transform 0.5s ease-in-out;
    max-height: 50vh; 
  }
  
  .carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    display: flex; 
  }
  
  .cover-image {
    width: auto;
    max-height: 100%; 
  }
  
  .book-info {
    flex: 1; 
    padding: 20px; 
  }

  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  
  